@import "tailwindcss";
@theme {
    --color-primary: #0F766E;
    --color-primary-hover: #334155;
    --color-secondary: #3218f4;
    --color-bg-left: #FDF9F1;
    --color-bg-right: #E6E5DF;
    --color-input: #F3F4F1;
    --font-sans: 'Inter', system-ui, sans-serif;
    --font-serif: 'Merriweather', 'Georgia', serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-right);
}